/* A Sass file that assigns: The text color #3D3D3D to the HTML tags body and p the background color #6D6D6D to the HTMLtags body and h2 */

$text-color: #3D3D3D;
$background-color: #6D6D6D;

body {
  color: $text-color;
  background-color: $background-color;
}

p {
  color: $text-color;
}

h2 {
  background-color: $background-color;
}
